<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body id="js-touch">
    <div id="world"></div>
    <div class="txt">
      <header class="header">
        <h1 class="title">
          Wizbii
          <div class="title-sub">experiment</div>
        </h1>
        <div class="header-sub subhead">github.com/wprod/threejs</div>
      </header>
      <h1>Score : <span id="js-score"></span></h1>
    </div>
</body>
</html>