<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
   <div id="world"></div>
   <div class="txt">
       <h1>ultra secret wizbii v12 project</h1>
   </div>
</body>
</html>