@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
* {
    margin: 0;
    padding: 0;
    overflow: hidden "";
}

#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(#7882ff, #ff8d8d);
}

.txt {
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
